<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<style>
@page {
  size: letter portrait;
  margin: 0.75in 0.7in 0.75in 0.7in;
}
body {
  font-family: Calibri, Arial, sans-serif;
  font-size: 6.5pt;
  color: #000;
  margin: 0;
  padding: 0;
}
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
td {
  padding: 1px 2px;
  vertical-align: middle;
  overflow: hidden;
}
col.cB  { width: 10.5%; }
col.cC  { width: 8.7%; }
col.cD  { width: 7.7%; }
col.cE  { width: 9.8%; }
col.cF  { width: 6.9%; }
col.cG  { width: 8.5%; }
col.cH  { width: 9.4%; }
col.cI  { width: 9.1%; }
col.cJ  { width: 7.2%; }
col.cK  { width: 11.3%; }
col.cL  { width: 10.9%; }
.bL { border-left: 2px double #000; }
.bR { border-right: 2px double #000; }
.bR-thin { border-right: 1px solid #000; }
.bLR-thin { border-left: 1px solid #000; border-right: 1px solid #000; }
.bT-thin { border-top: 1px solid #000; }
.bB-thin { border-bottom: 1px solid #000; }
.green-bar td {
  background: #006600;
  color: #fff;
  font-weight: bold;
  font-size: 8pt;
  text-align: center;
  padding: 4px 2px;
  border-top: 2px double #000;
  border-bottom: 2px double #000;
}
.section-hdr td {
  background: #EBF2DF;
  font-weight: bold;
  font-size: 6.5pt;
  text-align: center;
  padding: 2px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.rlabel { font-size: 6pt; font-weight: bold; text-align: center; }
.aname { font-weight: bold; text-align: left; padding-left: 4px; }
.aunit { text-align: center; }
.aresult { font-weight: bold; text-align: center; }
.arange { text-align: center; font-size: 6pt; }
.arec { text-align: center; font-size: 6.5pt; }
.arec-hdr { text-align: center; font-size: 5.5pt; font-weight: bold; line-height: 1.2; }
.needs-recs { background: #FFFF00; color: #FF0000; font-weight: bold; }
.hbar td { padding: 0; height: 6px; }
.hdr-logo td { padding: 0; border: none; }
.hdr-info { font-size: 6.5pt; line-height: 1.4; }
.hdr-lab-info { text-align: right; font-size: 6pt; line-height: 1.4; }
.footnote { font-size: 6pt; font-style: italic; padding-top: 4px; }
.comments-box { border: 1px solid #999; padding: 4px; min-height: 40px; margin-top: 4px; }
.comments-label { font-weight: bold; font-size: 6.5pt; }
.comments-text { font-size: 6.5pt; white-space: pre-wrap; }
.page-break-before { page-break-before: always; }
</style>
</head>
<body>

{% macro cols() %}
<colgroup>
  <col class="cB"><col class="cC"><col class="cD"><col class="cE">
  <col class="cF"><col class="cG"><col class="cH"><col class="cI"><col class="cJ">
  <col class="cK"><col class="cL">
</colgroup>
{% endmacro %}

{% macro section_header(text) %}
<tr class="section-hdr">
  <td colspan="3" class="bL">{{ text }}</td>
  <td class="bLR-thin" style="background:#EBF2DF;"></td>
  <td style="background:#EBF2DF;"></td>
  <td style="background:#EBF2DF;"></td>
  <td style="background:#EBF2DF;"></td>
  <td style="background:#EBF2DF;"></td>
  <td style="background:#EBF2DF;"></td>
  <td style="background:#EBF2DF;"></td>
  <td class="bR" style="background:#EBF2DF;"></td>
</tr>
{% endmacro %}

{% macro simple_row(name, unit, value) %}
<tr>
  <td colspan="2" class="bL aname bT-thin bB-thin">{{ name }}</td>
  <td class="bR-thin aunit bT-thin bB-thin">{{ unit }}</td>
  <td class="bLR-thin aresult bT-thin bB-thin">{{ value }}</td>
  <td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td>
  <td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td>
  <td class="bR bT-thin bB-thin"></td>
</tr>
{% endmacro %}

{% macro rated_block(analyte, name, unit, rec_unit=None, unit_conv_label=None, section_name=None) %}
{% set num = analyte.labels|length %}
{% set has_rec = rec_unit is not none %}
{% set has_ucl = unit_conv_label is not none %}
{% set padding = 7 - num - (1 if has_rec else 0) - (1 if has_ucl else 0) %}
{% set ns = namespace(pos=0) %}
<tr>
  <td rowspan="3" colspan="2" class="bL aname bT-thin">{% if section_name %}{{ section_name }}<br>{% endif %}{{ name }}</td>
  <td rowspan="3" class="bR-thin aunit bT-thin">{{ unit }}</td>
  <td rowspan="3" class="bLR-thin aresult bT-thin">{{ analyte.display }}</td>
  {% for label, range_text in analyte.labels %}
  {% set ns.pos = ns.pos + 1 %}
  <td class="rlabel bT-thin{% if ns.pos == 7 %} bR{% endif %}">{{ label }}</td>
  {% endfor %}
  {% for _ in range(padding) %}
  {% set ns.pos = ns.pos + 1 %}
  <td class="bT-thin{% if ns.pos == 7 %} bR{% endif %}"></td>
  {% endfor %}
  {% if has_ucl %}
  {% set ns.pos = ns.pos + 1 %}
  <td class="rlabel bT-thin{% if ns.pos == 7 %} bR{% endif %}">{{ unit_conv_label }}</td>
  {% endif %}
  {% if has_rec %}
  <td class="arec-hdr bR bT-thin">Recommendation<br>{{ rec_unit }}</td>
  {% endif %}
</tr>
{% set ns2 = namespace(pos=0) %}
<tr>
  {% for label, range_text in analyte.labels %}
  {% set ns2.pos = ns2.pos + 1 %}
  <td class="arange{% if ns2.pos == 7 %} bR{% endif %}">{{ range_text }}</td>
  {% endfor %}
  {% for _ in range(padding) %}
  {% set ns2.pos = ns2.pos + 1 %}
  <td{% if ns2.pos == 7 %} class="bR"{% endif %}></td>
  {% endfor %}
  {% if has_ucl %}
  {% set ns2.pos = ns2.pos + 1 %}
  <td class="arec{% if ns2.pos == 7 %} bR{% endif %}">{{ analyte.unit_conv or '' }}</td>
  {% endif %}
  {% if has_rec %}
  <td class="arec bR{% if analyte.recommendation == 'Needs Recs' %} needs-recs{% endif %}">{{ analyte.recommendation or '' }}</td>
  {% endif %}
</tr>
<tr class="hbar">
  {% for i in range(7) %}
  <td class="bB-thin{% if i == 6 %} bR{% endif %}"{% if i < num and analyte.active_index is not none and analyte.active_index == i %} style="background:{{ analyte.color }};"{% endif %}></td>
  {% endfor %}
</tr>
{% endmacro %}


<table>
  {{ cols() }}

  <thead>
    <tr class="hdr-logo">
      <td colspan="3" style="padding:8px 0;vertical-align:middle;">
        <img src="{{ static_path }}/images/csu_aes.png" alt="CSU AES" style="height:70px;">
      </td>
      <td colspan="5" style="padding:8px 0;text-align:center;vertical-align:middle;">
        <img src="{{ static_path }}/images/csu_spur.png" alt="CSU Spur" style="height:60px;">
      </td>
      <td colspan="3" style="padding:8px 0;text-align:right;vertical-align:middle;">
        <img src="{{ static_path }}/images/image1.jpeg" alt="Lab Logo" style="max-height:80px;max-width:100%;">
      </td>
    </tr>

    <tr class="hdr-info">
      <td colspan="5" style="vertical-align:top;line-height:1.6;padding-top:2px;padding-bottom:8px;">
        {{ sample.customer_name or '' }}<br>
        {% if sample.company_name %}{{ sample.company_name }}<br>{% endif %}
        {{ sample.address or '' }}<br>
        {{ sample.address_line2 or '' }}
      </td>
      <td colspan="4"></td>
      <td colspan="2" class="hdr-lab-info" style="vertical-align:top;padding-top:6px;">
        4780 National Western Drive<br>
        Denver, CO 80216<br>
        Tel: (970) 491-5061<br>
        Email: soiltestinglab@colostate.edu
      </td>
    </tr>

    <tr class="hdr-info">
      <td style="font-weight:bold;">Lab ID:</td>
      <td>{{ sample.lab_id or '' }}</td>
      <td colspan="7"></td>
      <td style="text-align:right;font-weight:bold;">Date Received:</td>
      <td style="text-align:right;">{{ sample.date_received or '' }}</td>
    </tr>
    <tr class="hdr-info">
      <td style="font-weight:bold;">Sample ID:</td>
      <td>{{ sample.sample_id or '' }}</td>
      <td colspan="7"></td>
      <td style="text-align:right;font-weight:bold;">Date Reported:</td>
      <td style="text-align:right;">{{ sample.date_reported or '' }}</td>
    </tr>
    <tr class="hdr-info">
      <td colspan="2" style="font-weight:bold;">Soil Depth (in.):&nbsp; {{ sample.soil_depth or '' }}</td>
      <td colspan="9"></td>
    </tr>

    <tr class="green-bar">
      <td colspan="2" class="bL" style="text-align:left;padding-left:4px;">Soil Analysis</td>
      <td class="bR-thin">Units</td>
      <td class="bLR-thin">Results</td>
      <td colspan="7" class="bR">Test Rating*</td>
    </tr>
  </thead>

  <tbody>
  {{ rated_block(analytes.pH, "1:1 Soil pH", "") }}
  </tbody>

  {% if sample.show_woodruff %}
  <tbody>
  <tr>
    <td colspan="2" class="bL aname bT-thin bB-thin">Woodruff Buffer pH</td>
    <td class="bR-thin bT-thin bB-thin"></td>
    <td class="bLR-thin aresult bT-thin bB-thin">{{ sample.woodruff_buffer or '' }}</td>
    <td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td>
    <td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td>
    <td class="bR bT-thin bB-thin"></td>
  </tr>
  </tbody>
  {% endif %}

  <tbody>
  {{ rated_block(analytes.EC, "1:1 Soluble Salts (EC)", "mmho/cm") }}
  </tbody>

  <tbody>
  {{ simple_row("Excess Lime", "", sample.lime or '') }}
  </tbody>

  <tbody>
  {{ rated_block(analytes.OM, "Organic Matter LOI", "%") }}
  </tbody>

  <tbody>
  {{ rated_block(analytes.Nitrate, "KCl Nitrate-N", "ppm", rec_unit=analytes.Nitrate.rec_unit, unit_conv_label=analytes.Nitrate.rec_unit) }}
  </tbody>

  <tbody>
  {{ rated_block(analytes.P, "Phosphorus (P)", "ppm", rec_unit=analytes.P.rec_unit, section_name="Olsen Bicarbonate") }}
  </tbody>

  <tbody>
  {{ section_header("Ammonium Acetate") }}
  </tbody>

  <tbody>
  {{ rated_block(analytes.K, "Potassium (K)", "ppm", rec_unit=analytes.K.rec_unit) }}
  </tbody>

  <tbody>
  {{ rated_block(analytes.Ca, "Calcium (Ca)", "ppm", rec_unit=analytes.Ca.rec_unit) }}
  </tbody>

  <tbody>
  {{ rated_block(analytes.Mg, "Magnesium (Mg)", "ppm", rec_unit=analytes.Mg.rec_unit) }}
  </tbody>

  <tbody>
  {{ simple_row("Sodium (Na)", "ppm", sample.na or '') }}
  </tbody>

  <tbody>
  {% set cec = analytes.CEC %}
  <tr>
    <td rowspan="3" colspan="2" class="bL aname bT-thin">Cation Exchange Capacity (CEC)<br>or Sum of Cations</td>
    <td rowspan="3" class="bR-thin aunit bT-thin">meq/100g</td>
    <td rowspan="3" class="bLR-thin aresult bT-thin">{{ cec.display }}</td>
    {% for label, range_text in cec.labels %}
    <td class="rlabel bT-thin" style="font-style:italic;">{{ label }}</td>
    {% endfor %}
    {% for _ in range(7 - cec.labels|length) %}
    <td class="bT-thin{% if loop.last %} bR{% endif %}"></td>
    {% endfor %}
  </tr>
  <tr>
    {% for label, range_text in cec.labels %}
    <td class="arange">{{ range_text }}</td>
    {% endfor %}
    {% for _ in range(7 - cec.labels|length) %}
    <td{% if loop.last %} class="bR"{% endif %}></td>
    {% endfor %}
  </tr>
  <tr class="hbar">
    {% for i in range(7) %}
    <td class="bB-thin{% if i == 6 %} bR{% endif %}"{% if i < cec.labels|length and cec.active_index is not none and cec.active_index == i %} style="background:{{ cec.color }};"{% endif %}></td>
    {% endfor %}
  </tr>
  </tbody>

  <tbody>
  <tr>
    <td rowspan="3" colspan="2" class="bL aname bT-thin">Base Saturation</td>
    <td rowspan="3" class="bR-thin aunit bT-thin">%</td>
    <td rowspan="3" class="bLR-thin aresult bT-thin">{{ sample.base_sat_total or '' }}</td>
    <td class="rlabel bT-thin">H</td>
    <td class="rlabel bT-thin">K</td>
    <td class="rlabel bT-thin">Ca</td>
    <td class="rlabel bT-thin">Mg</td>
    <td class="rlabel bT-thin">Na</td>
    <td class="bT-thin"></td>
    <td class="bR bT-thin"></td>
  </tr>
  <tr>
    <td class="arange">{{ sample.h_pct or '' }}</td>
    <td class="arange">{{ sample.k_pct or '' }}</td>
    <td class="arange">{{ sample.ca_pct or '' }}</td>
    <td class="arange">{{ sample.mg_pct or '' }}</td>
    <td class="arange">{{ sample.na_pct or '' }}</td>
    <td></td>
    <td class="bR"></td>
  </tr>
  <tr class="hbar">
    <td class="bB-thin"></td><td class="bB-thin"></td><td class="bB-thin"></td>
    <td class="bB-thin"></td><td class="bB-thin"></td><td class="bB-thin"></td>
    <td class="bR bB-thin"></td>
  </tr>
  </tbody>

  <tbody>
  {{ section_header("Ca-P") }}
  </tbody>

  <tbody>
  {{ rated_block(analytes.S, "Sulfate-S", "ppm", rec_unit=analytes.S.rec_unit) }}
  </tbody>

  <tbody class="page-break-before">
  {{ section_header("DTPA") }}
  </tbody>

  <tbody>
  {{ rated_block(analytes.Zn, "Zinc (Zn)", "ppm", rec_unit=analytes.Zn.rec_unit) }}
  </tbody>

  <tbody>
  {{ rated_block(analytes.Fe, "Iron (Fe)", "ppm", rec_unit=analytes.Fe.rec_unit) }}
  </tbody>

  <tbody>
  {{ rated_block(analytes.Mn, "Manganese (Mn)", "ppm", rec_unit=analytes.Mn.rec_unit) }}
  </tbody>

  <tbody>
  {{ rated_block(analytes.Cu, "Copper (Cu)", "ppm", rec_unit=analytes.Cu.rec_unit) }}
  </tbody>

  <tbody>
  {{ section_header("Hot Water Extraction") }}
  </tbody>

  <tbody>
  {{ rated_block(analytes.B, "Boron (B)", "ppm", rec_unit=analytes.B.rec_unit) }}
  </tbody>

  <tbody>
  {{ section_header("Calcium Nitrate") }}
  {{ simple_row("Chloride (Cl)", "ppm", sample.cl or '') }}
  </tbody>

  <tbody>
  {{ section_header("Soil Texture") }}
  <tr>
    <td colspan="2" class="bL aname">% Sand</td>
    <td class="bR-thin aunit">%</td>
    <td class="bLR-thin aresult">{{ sample.sand or '' }}</td>
    <td></td><td></td><td></td><td></td><td></td><td></td>
    <td class="bR"></td>
  </tr>
  <tr>
    <td colspan="2" class="bL aname">% Silt</td>
    <td class="bR-thin aunit">%</td>
    <td class="bLR-thin aresult">{{ sample.silt or '' }}</td>
    <td></td><td></td><td></td><td></td><td></td><td></td>
    <td class="bR"></td>
  </tr>
  <tr>
    <td colspan="2" class="bL aname">% Clay</td>
    <td class="bR-thin aunit">%</td>
    <td class="bLR-thin aresult">{{ sample.clay or '' }}</td>
    <td></td><td></td><td></td><td></td><td></td><td></td>
    <td class="bR"></td>
  </tr>
  <tr>
    <td colspan="2" class="bL aname bB-thin">Texture by Hydrometer</td>
    <td class="bR-thin bB-thin"></td>
    <td class="bLR-thin aresult bB-thin">{{ sample.texture_class or '' }}</td>
    <td class="bB-thin"></td><td class="bB-thin"></td><td class="bB-thin"></td>
    <td class="bB-thin"></td><td class="bB-thin"></td><td class="bB-thin"></td>
    <td class="bR bB-thin"></td>
  </tr>
  </tbody>

  <tbody>
  {{ section_header("Heavy Metals") }}
  {% for metal in sample.heavy_metals %}
  <tr>
    <td colspan="2" class="bL aname">{{ metal.name }}</td>
    <td class="bR-thin aunit">ppm</td>
    <td class="bLR-thin aresult">{{ metal.value or '' }}</td>
    <td></td><td></td><td></td><td></td><td></td><td></td>
    <td class="bR"></td>
  </tr>
  {% endfor %}
  </tbody>

  <tbody>
  {{ section_header("Sodium Absorption Ratio") }}
  <tr>
    <td colspan="2" class="bL aname" style="border-bottom:2px double #000;">SAR</td>
    <td class="bR-thin" style="border-bottom:2px double #000;"></td>
    <td class="bLR-thin aresult" style="border-bottom:2px double #000;">{{ sample.sar or '' }}</td>
    <td style="border-bottom:2px double #000;"></td>
    <td style="border-bottom:2px double #000;"></td>
    <td style="border-bottom:2px double #000;"></td>
    <td style="border-bottom:2px double #000;"></td>
    <td style="border-bottom:2px double #000;"></td>
    <td style="border-bottom:2px double #000;"></td>
    <td class="bR" style="border-bottom:2px double #000;"></td>
  </tr>
  </tbody>

  {% if "sar_paste" in sections %}
  <tbody>
  {{ section_header("Saturated Soil Paste Analysis") }}
  {% for row in sar_paste_data %}
  <tr>
    <td colspan="2" class="bL aname bT-thin bB-thin">{{ row.name }}</td>
    <td class="bR-thin aunit bT-thin bB-thin">{{ row.unit }}</td>
    <td class="bLR-thin aresult bT-thin bB-thin">{{ row.value }}</td>
    <td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td>
    <td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td>
    <td class="bT-thin bB-thin arange">{{ row.optimum }}</td>
    <td class="bR bT-thin bB-thin"></td>
  </tr>
  {% endfor %}
  </tbody>
  {% endif %}

  {% if "carbon_nitrogen" in sections %}
  <tbody>
  {{ section_header("Carbon and Nitrogen") }}
  {% for row in cn_data %}
  <tr>
    <td colspan="2" class="bL aname bT-thin bB-thin">{{ row.name }}</td>
    <td class="bR-thin aunit bT-thin bB-thin">{{ row.unit }}</td>
    <td class="bLR-thin aresult bT-thin bB-thin">{{ row.value }}</td>
    <td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td>
    <td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td>
    <td class="bR bT-thin bB-thin"></td>
  </tr>
  {% endfor %}
  </tbody>
  {% endif %}

  {% if "mineralization" in sections %}
  <tbody>
  {{ section_header("28-Day Mineralizable Nitrogen") }}
  {% for row in mineralization_data %}
  <tr>
    <td colspan="2" class="bL aname bT-thin bB-thin">{{ row.name }}</td>
    <td class="bR-thin aunit bT-thin bB-thin">{{ row.unit }}</td>
    <td class="bLR-thin aresult bT-thin bB-thin">{{ row.value }}</td>
    <td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td>
    <td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td>
    <td class="bR bT-thin bB-thin"></td>
  </tr>
  {% endfor %}
  </tbody>
  {% endif %}

  {% if "wsa" in sections %}
  <tbody>
  {{ section_header("Wet Aggregate Stability") }}
  {% for row in wsa_data %}
  <tr>
    <td colspan="2" class="bL aname bT-thin bB-thin">{{ row.name }}</td>
    <td class="bR-thin aunit bT-thin bB-thin">{{ row.unit }}</td>
    <td class="bLR-thin aresult bT-thin bB-thin">{{ row.value }}</td>
    <td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td>
    <td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td>
    <td class="bR bT-thin bB-thin"></td>
  </tr>
  {% endfor %}
  </tbody>
  {% endif %}

  {% if "paw" in sections %}
  <tbody>
  {{ section_header("Plant Available Water") }}
  {% for row in paw_data %}
  <tr>
    <td colspan="2" class="bL aname bT-thin bB-thin">{{ row.name }}</td>
    <td class="bR-thin aunit bT-thin bB-thin">{{ row.unit }}</td>
    <td class="bLR-thin aresult bT-thin bB-thin">{{ row.value }}</td>
    <td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td>
    <td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td><td class="bT-thin bB-thin"></td>
    <td class="bR bT-thin bB-thin"></td>
  </tr>
  {% endfor %}
  </tbody>
  {% endif %}

</table>

<div class="footnote">
  *Test ratings are provided for general crop production. The ranges may be different for individual crops or for specific situations.
</div>

<div class="comments-box">
  <div class="comments-label">Comments:</div>
  <div class="comments-text">{{ sample.comments or '' }}</div>
</div>

</body>
</html>
